# Git
.git

# Python
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
*.py[cod]

# Training Data
data/

# Model Artifacts
artifacts/

# MLflow
mlruns/
mlflow.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Logs
*.log

*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl

# ML model artifacts
*.pkl
artifacts/latest/